.brand {
  padding-left: 1%;
  padding-right: 1%;
  font-size: 250%;
  background-color: #262228;
  color: #FFCE00;

}

.title-n-buttons {
  /* border: solid purple 2px; */
  margin-bottom: 0;
  height: 50px;
}

.nav-term {
  color: #262228;
  font-weight: bolder;
  font-size: 190%;
  margin-left: 1%;
}

.App,
.saved-wrapper,
nav {
  text-align: center;
  font-family: 'Nanum Brush Script', cursive;
}

nav {
  background-color: #FFCE00;
}

.App-header {
  background-color: #0375B4;
  color: #FFCE00;
}


.search-area,
.results-area {
 background-color: #007849;
 color: #FFCE00;
 padding-top: 1px;
 box-shadow: 1px 2px 5px #262228;

}

#search-title,
#tome-title {
  text-shadow: 1px 5px 3px #262228;
  font-weight: bold;
}


@media only screen and (max-width: 350px) {
  .brand {
    font-size: 200%;
  }

}