.brand {
  padding-left: 1%;
  padding-right: 1%;
  font-size: 250%;
}

.nav-term {
  font-size: 170%;
  margin-left: 1%;
}

.App,
.saved-wrapper,
nav {
  text-align: center;
  font-family: 'Nanum Brush Script', cursive;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  margin-top: 1%;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.search-area,
.results-area {
  margin-top: 1%;
  padding: 1%;
  border: solid 3px green;
}


