.book-box {
    margin-top: 1%;
    padding: 1%;
    border: solid 3px #FFCE00;
    box-shadow: 1px 2px 5px #262228;
  }

.book-title {
    font-size: 200%;
    margin: auto;
    /* margin-bottom: -10%; */
    text-align: left;
    font-weight: bolder;
    text-shadow: 1px 5px 3px #262228;

}

.authors,
.publisher {
    text-align: left;
    font-size: 200%;
    color: #262228;
    font-weight: bolder;
    text-shadow: 1px 1px 2px #FFCE00, 1px 1px 2px #FFCE00;
}

.authors {
    margin-top: -4%;
}
#view-btn {
    margin-right: 1%;
    background-color: #0375B4;
}

.bookimage {
    margin: 0;
    padding-right: 2%;
}

.synopsis {
    text-align: justify;
    font-size: 180%;
    line-height: 1.5;
    text-shadow: 1px 5px 3px #262228;
    font-weight: 900%;
    margin-top: -5%;

}

.publisher {
    text-align: center;
}


@media only screen and (max-width: 800px) {

  
  }